#theStory {
    padding: 25px;
    display: flex;
    grid-area: story;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
    text-align: center;
}

.story {
    margin: 10px;
}
