.recipePageLayout {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    margin: 20px;
}
.recipeTop {
    display: grid;
    width: 70%;
    grid-template-columns: auto auto;
}
.rightRecipe {
    margin-left: 20px;
}

.recipePageTitle {
    width: 100%;
}
.recipePageImage {
    width: 400px;
    height: 400px;
}
.ingredients {
    grid-area: ingredients;
}
.instructions {
    grid-area: instructions;
}
.list,
.instr {
    margin: 10px;
}
